body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
    font-size: 14px;
    letter-spacing: 0.03em;
}


ul{
    list-style-type: none;
    /* margin-left: 0;
    padding-left: 0; */
}
a{
    text-decoration: none;
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.flex {
    display: flex;
    align-items: center;
}


.header-menu{
    display: block;
    display: flex;
    /* width: 72px; */
}
.logo{
    font-family: 'Raleway',sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: #4D5AE5;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 156px;
        width: 72px;
        
}
.logo:focus, .logo:hover{
    /* color: #404bbf; */
}
.logo_web{
    color:  #2E2F42;
    
}
.logo_web-bg{
    color: var(--cloud);
}
.header_link{
    display: flex;
    align-items: center;
}
.header_list{
    display: flex;
    gap: 40px;  
    margin-left: 76px;    
    /* margin-left: auto; */
    /* justify-content: space-between; */
}
.header-list-link{

    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}
.header-list-link:hover, .header-list-link:focus{
    color: #404bbf
}
.address{
    font-style: normal;
    /* display: flex; */
    margin-left: auto;
}
.address-link{
align-items: center;
    display: flex;
    gap: 40px;
    margin-left: auto;
    
}
.header-contacts{
    font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: var(--slate);
}
.header-contacts:hover, .header-contacts:focus{
    color: #404bbf;
}

.hero-logo{
    font-weight: 700;
        font-size: 56px;
        line-height: 107%;
        letter-spacing: 0.02em;
        text-align: center;
        color: var(--white);
        margin: 0 auto;
        /* width: 496px;      */
}
.hero-bg{
    background-color: #2e2f42;
    /* height: 600px;
    width: 100%; */
    /* justify-content: center;
    display: flex; */
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    
    
    
}
.hero-button{
    font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.04em;
        color: var(--white);
        cursor: pointer;
        background-color: #4D5AE5;
        border-radius: 4px;
        padding: 16px 32px;
        margin-top: 48px;
       
    
        
        
}
.hero-button:hover, .hero-button:focus{
    background-color: #404BBF
}
.hidden-list{
    gap: 24px;
    /* justify-content: center; */
    /* align-items: center; */
}
.hero-title{
    font-family: var(--font-family);
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: var(--navy-blue);
}
.hero-title-text{
font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
}
.feauter{
    background: var(--cloud);
    padding-bottom: 120px;
}
.feauter-lest{
    gap: 24px;
}
.team{
    font-family: var(--font-family);
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: var(--navy-blue);
        text-transform: capitalize;
        margin-bottom: 72px;
        /* padding-top: 120px; */
}
.portfolio-item{
    gap: 24px;
    flex-wrap: wrap;
}
.team-list,.portfolio-list{
    background: var(--white);
}
.footer-bg{
    background-color: #2e2f42;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-text{
    line-height: 1.5;
    color: var(--cloud);
    letter-spacing: 0.02em;
    margin-left: 135px;
    display: flex;
    width: 264px;
    /* align-items: center; */
    /* justify-content: center; */
}
:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
    }
:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
    }